<!DOCTYPE html>
<html>
	<head>
		<title>Bioinfo</title>
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="main">
		<h1>Houve um erro no sistema.</h1>
		<h2><%=@error_message%></h2>
		</div>
	</body>
</html>