<!DOCTYPE html>
<html>
	<head>
		<title>Bioinfo</title>
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="main">
		<h1>Teste...</h1>
		</div>
	</body>
</html>