<!DOCTYPE html>
<html>
	<head>
		<title>Tradutor de DNA</title>
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="main">
			<h1 class="title">Tradutor de DNA</h1>
			<p class="pStart">
				Insira a sua sequencia de bases de DNA e clique em "Analisar"<br/> 
			</p>
			<form method="POST">
				<textarea id="dna" name="dna" rows="5", columns="300"><%=@dna%></textarea>
				<div class="actions">
					<input type="submit" value="Analisar"/>
				</div>
			</form>
			<h1 class="title">Proteína associada ao DNA</h1>
			<textarea readonly="readonly" name="protein" id="protein" rows="5", columns="300"><%=@protein%></textarea>
		</div>

		<div id="bottom">
			<p>Aplicativo desenvolvido para a disciplina de Bioinformática - DCC, UFRJ</p>
			<p>Júlio Bueno e Marcus Vinícius - 2012/02</p>
		</div>
	</body>
</html>